---
layout: default
title: "Drafty: Latest Readings"
---
<h1>Latest Readings</h1>

<dl>
  {% for row in site.data.most-recent %}
    <dt>Date & Time</dt>
    <dd>{{ row.time | date: "%B %e, %Y, %r" }}</dd>
    <dt>Temperature</dt>
    <dd>{{ row.temp_f }}&deg;F</dd>
    <dt>Humidity</dt>
    <dd>{{ row.humidity }}%</dd>
    <dt>Lux</dt>
    <dd>{{ row.lux }}</dd>
    {% if row.nws_conditions %}
    <dt>Local Weather Conditions</dt>
    <dd>{{ row.nws_conditions }}</dd>
    {% endif %}
    {% if row.nws_temp_f %}
    <dt>Outdoor Temperature</dt>
    <dd>{{ row.nws_temp_f }}&deg;F</dd>
    {% endif %}
    {% if row.nws_humidity %}
    <dt>Outdoor Humidity</dt>
    <dd>{{ row.nws_humidity }}%</dd>
    {% endif %}
    {% endfor %}
</dl>
