@mixin light-theme {
  --text-primary: #000000;
  --text-link: #2200aa;
  --text-link-visited: #8800cc; 
  --border-primary: #000000;
  --border-secondary: #2200aa;
  --outline-primary: #8800cc;
  --background-primary: #ffffff;
  --background-secondary: #ddeeff;
}

@mixin dark-theme {
  --text-primary: #fdfdfa;
  --text-link: #88ddff;
  --text-link-visited: #dd88ff;
  --border-primary: #ffffff;
  --border-secondary: #88ddff;
  --outline-primary: #dd88ff;
  --background-primary: #111111;
  --background-secondary: #1d2d3d;
}

:root {
  @include light-theme;
  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 1rem 2rem;
}

a {
  color: var(--text-link);
  &:visited {
    color: var(--text-link-visited);
  }
}

nav {
  font-size: 1.5rem;
  a {
    display: inline-block;
    margin-right: 0.5rem;
    &:last-child {
      margin: 0;
    }
    &:visited {
      color: var(--text-link);
    }
    &.current-page {
      color: var(--text-primary);
      text-decoration: none;
    }
  }
}

main {
  max-width: 50rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

dl {
  font-size: 1.25rem;
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

.table-container {
  overflow-x: scroll;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;
}

table,
thead tr {
  border: 0.25rem solid var(--border-secondary);
}

th {
  text-align: left;
}

th, td {
  padding: 0.5rem;
}

tbody tr:nth-child(even) {
  background: var(--background-secondary);
}

.page--history {
  thead th {
    &:nth-child(1) {
      width: 49%;
    }
    &:nth-child(2) {
      width: 17%;
    }
    &:nth-child(3) {
      width: 17%;
    }
    &:nth-child(4) {
      width: 17%;
    }
  }
}

.table--about-the-data {
  thead th {
    &:nth-child(1) {
      width: 25%;
    }
    &:nth-child(2) {
      width: 22%;
    }
    &:nth-child(3) {
      width: 53%;
    }
  }
}

.filter-option-container {
  border: 0.125rem solid var(--border-primary);
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;
  &:last-of-type {
    margin-bottom: 1.5rem;
  }
}

.filter-option-heading {
  margin: 0;
}

label,
select {
  display: block;
  margin: 0.5rem 0;
}

button,
label,
select {
  font-size: 1.125rem;
  line-height: 1.5;
}

button,
select {
  background: transparent;
  border: 0.125rem solid var(--border-primary);
  color: var(--text-primary);
  padding: 0.5rem;
}

button {
  background: var(--background-secondary);
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0 0 var(--border-secondary);
  font-weight: bold;
  margin: 1rem 0 0;
}

.filter-options-divider {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  padding-left: 1rem;
}

a,
button,
select {
  &:focus {
    box-shadow: none;
    outline: 0.25rem solid var(--outline-primary);
    outline-offset: 0.25rem;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
