$text-primary: #000000;
$text-error: #bb0055;
$border-primary: #000000;
$border-secondary: #2200aa;
$background-primary: #ffffff;
$background-secondary: #ddeeff;

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 1rem 2rem;
}

nav {
  font-size: 1.5rem;
  .current-page {
    color: black;
    text-decoration: none;
  }
}

main {
  max-width: 50rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

dl {
  font-size: 1.25rem;
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 100%
}

table,
thead tr {
  border: 0.25rem solid $border-secondary;
}

th {
  text-align: left;
}

th, td {
  padding: 0.5rem;
}

tbody tr:nth-child(even) {
  background-color: $background-secondary;
}

.page--history {
  thead th {
    &:nth-child(1) {
      width: 49%;
    }
    &:nth-child(2) {
      width: 17%;
    }
    &:nth-child(3) {
      width: 17%;
    }
    &:nth-child(4) {
      width: 17%;
    }
  }
}

.page--about {
  thead th {
    &:nth-child(1) {
      width: 25%;
    }
    &:nth-child(2) {
      width: 22%;
    }
    &:nth-child(3) {
      width: 53%;
    }
  }
}

.form-container,
.button-container {
  border: 0.125rem solid $border-primary;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1rem;
}

.form-heading {
  margin: 0;
}

.form-group,
.button-container {
  margin-bottom: 1.5rem;
}

fieldset {
  border: none;
}

fieldset,
legend {
  padding: 0;
}

legend {
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}

input,
legend,
label,
select {
  display: block;
}

input,
label,
select {
  margin: 0.5rem 0;
}

button,
input,
label,
legend,
select {
  font-size: 1.125rem;
  line-height: 1.5;
}

select,
input,
button {
  background: transparent;
  border: 0.125rem solid $border-primary;
  padding: 0.5rem;
}

button {
  background: $background-secondary;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0 0 $border-secondary;
  margin: 1rem 0 0;
}

.button-container button {
  margin: 0;
}

.form-field-info,
.form-field-error {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
}

.form-field-error {
  color: $text-error;
}

.filter-options-divider {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  padding-left: 1rem;
}